@page "/search"
@inject TmdbApiService TmdbApiService
@inject NavigationManager NavigationManager
@using Movie4You.Models

<h3>Movie Recommender</h3>

<div class="search-container">
    <input @bind="searchQuery" placeholder="Search for a movie..." />
    <button @onclick="SearchMovies">Search</button>
</div>

@if (movies != null)
{
    <div class="movie-list">
        @foreach (var movie in movies.Results)
        {
            <div class="movie-item">
                <img src="https://image.tmdb.org/t/p/w200/@movie.Poster_Path" alt="@movie.Title poster" />
                <div>
                    <h4>@movie.Title (@movie.Release_Date)</h4>
                    <p>Popularity: @movie.Popularity</p>
                    <button @onclick="() => NavigateToDetails(movie)">View Details</button>
                </div>
            </div>
        }
    </div>
}

@code {
    private string searchQuery;
    private MovieSearchResult movies;

    private async Task SearchMovies()
    {
        movies = await TmdbApiService.SearchMoviesAsync(searchQuery);
    }

    private void NavigateToDetails(Movie movie)
    {
        NavigationManager.NavigateTo($"/movie/{movie.Title}");
    }
}
